* {
  margin: 0;
  padding: 0;
}

.sticky {
  position: fixed;
  width: 100%;
  background-color: #34495e;
  color: white;
  top: 0;
  margin: 0;
  min-height: 5vh;
  animation: slideIn 1s ease-in-out;
}
.sticky a {
  color: white;
}
nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav h1 {
  font-size: 40px;

  padding: 10px 80px;
  font-family: "Satisfy", cursive;
  font-weight: 200;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.carousel {
  width: 80%;
  height: 50vh;
  margin: auto;
  background-color: lightblue;
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: -100;
}

.carousel img {
  width: 100%;
}

.arrow-left {
  opacity: 0.5;
  font-size: 30px;
  left: 20px;
  color: white;
  position: absolute;
}

.arrow-right {
  opacity: 0.5;
  font-size: 30px;
  right: 20px;
  color: white;
  position: absolute;
}
.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}
.introduction {
  height: 30vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.introduction h1 {
  padding: 30px;
  font-size: 25px;
}

.banner1 {
  transform: translateX(-100%);
  width: 70%;
  margin-right: auto;
  height: 30vh;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  background-color: #34495e;
  color: white;
  border-bottom-right-radius: 50px;
  transition: transform 1s;
}
.banner1 h1 {
  width: 20%;
  order: 1;
  font-size: 25px;
}
.banner1 p {
  width: 50%;
  line-height: 2.5em;
}
.active {
  transform: translateX(0%) !important;
}
.banner2 {
  font-family: "Montserrat", sans-serif;
  width: 70%;
  height: 30vh;
  background-color: #34495e;
  color: white;
  margin-left: auto;
  transform: translateX(100%);
  transition: transform 1s;
  border-top-left-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner2 h1 {
  width: 20%;
}
.banner2 p {
  width: 50%;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(-0);
  }
}

.wedding-section {
  height: 200vh;
  background-color: lightblue;
}
